table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid grey;
}

th, td {
    padding: 10px 20px;
}

.center {
    text-align: center;
}

.vertical {
    vertical-align: bottom;
}